<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.example"/>
    <bean id="book2" class="exam.Book"></bean>
    <bean id="book3" class="exam.Book"></bean>

    <bean id="myService" class="exam02.component.MyService">
<!--        setMyDao-->
        <property name="myDao" ref="myDao"></property>
<!--        name은 setMyDao를 위한 이름, ref는 아래의 빈-->
    </bean>

    <bean id="myDao" class="exam02.component.MyDao"></bean>
</beans>